@import "../../colors.css";

.poster {
  width: 160px;
  border: 1px solid linear-gradient(to left, white, black);
  border-radius: 5px;
}

.poster:hover {
  transition: 0.5s;
  filter: brightness(1.1);
  box-shadow: 2px 2px 3px -1px var(--gray8);
  cursor: pointer;
}
