.breadcrumb {
  margin: 0 0 40px 30px !important;
}

.poster_detail {
  width: var(--percentage, 80%); /* Use variable for width */
  margin: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
}

.image_space {
  height: 450px;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
.poster {
  height: 400px;
  border-radius: 5px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title {
  font-size: 30px !important;
}

.sizeButtonsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.sizeButton {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre-wrap;
}

.dimText {
  font-size: 0.85em; /* Slightly larger size */
  opacity: 0.7; /* Dimmer */
}

@media (max-width: 1000px) {
  .poster_detail {
    --percentage: 85%;
  }
}

@media (max-width: 900px) {
  .poster_detail {
    --percentage: 90%;
  }
}

@media (max-width: 800px) {
  .poster_detail {
    --percentage: 95%;
  }
}

@media (max-width: 700px) {
  .image_space {
    height: 400px;
  }
  .poster {
    height: 350px;
  }
  .title {
    font-size: 25px !important;
  }
  .poster_detail {
    grid-template-columns: 1fr;
  }
  .sizeButtonsGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    max-width: 220px; /* Adjusted max-width for 2 columns */
  }
  .sizeButton {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 684px) {
  .title {
    display: none;
  }
}

@media (max-width: 600px) {
  .image_space {
    height: 350px;
  }
  .poster {
    height: 300px;
  }
  .sizeButtonsGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 500px) {
  .poster_detail {
    --percentage: 100%;
  }
}
