@import "../../shared.module.css";

/* Header */
.header {
  padding: 0;
}

/* Brand */
.logo {
  height: 55px;
}
.brand {
  color: var(--gray2);
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1.5px dotted var(--blue4);
}

.menu {
  display: flex;
  width: 100%;
}

/* Menu items */
.item_left {
  background: none;
}
