.viewpoint {
  width: 80%;
  margin: auto;
}
@media (max-width: 1000px) {
  .viewpoint {
    width: var(--percentage, 85%);
  }
}
@media (max-width: 900px) {
  .viewpoint {
    --percentage: 90%;
  }
}
@media (max-width: 800px) {
  .viewpoint {
    --percentage: 95%;
  }
}
@media (max-width: 500px) {
  .viewpoint {
    --percentage: 100%;
  }
}

/* Header */
.header {
  padding: 0 !important;
}

/* Brand */
.logo {
  height: 55px;
}
.brand {
  color: var(--gray2);
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1.5px dotted var(--blue4);
}

.menu {
  display: flex;
  width: 100%;
}

/* Menu items */
.item_left {
  background: none !important;
}
