.poster_detail {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.breadcrumb {
    margin: 0 0 40px 30px !important;
}

.image_space {
    max-height: 440px;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.poster {
    height: 400px;
    border-radius: 5px;
}
@media (max-width: 700px) {
    .poster {
        height: 350px;
    }
}
@media (max-width: 600px) {
    .poster {
        height: 300px;
    }
}

.image_size {
    align-self: start;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title {
    font-size: 30px !important;
}
