.poster_detail {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
}

.poster {
    height: 400px;


    border-radius: 5px;
}

.information {

}
