/* https://ant.design/docs/spec/colors */

:root {
  --blue4: #69c0ff;
  --blue6: #1890ff;

  --gray2: #fafafa;
  --gray6: #bfbfbf;
  --gray8: #595959;

  --skeleton-background-color: #e0e0e0;
  --skeleton-background-color-start: #e0e0e0;
  --skeleton-background-color-end: #f0f0f0;
}
